


    

    <div class="main-cont">
        <div class="article-win">

            <img src="images/logo.jpg" class="logo">
            <h3 style="text-align:center;">Artisan Bakery</h3>


            <b>Artisan Bakery</b> - the company bringing that <b>great change</b> to you.
            <hr style="width:70%;">
    
            <h2 class="section-header"> Products: </h2>
            <div class="shop-items">
                <% items.pastry.forEach(function(item){ %> 
                    
            
                <div class="shop-item" data-item-id="<% item.id %>">
                    <span class="shop-item-title"><%= item.name %></span>
                    <img class="shop-item-image" src="<%= item.imgName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">£<%= item.price / 100 %></span>
                        <button type="button" class="btn btn-primary shop-item-button">Add to Cart</button>
                    </div>
                </div>
                <% }) %>
                <% items.breads.forEach(function(item){ %> 
                    
            
                    <div class="shop-item" data-item-id="<% item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">£<%= item.price / 100 %></span>
                            <button type="button" class="btn btn-primary shop-item-button">Add to Cart</button>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <br>
            <!--Cart-->
            <div class="cart">
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">Item</span>
                    <span class="cart-price cart-header cart-column">Price</span>
                    <span class="cart-quantity cart-header cart-column">Quantity</span>
                </div>
                
                <div class="cart-items">

                </div>
               
                <div class="cart-total">
                    <span class="cart-total-title">Total:</span>
                    <span class="cart-total-price">£0.00</span>
                </div>
            </div> 
        
            <button class="btn btn-primary btn-purchase" type="button">Purchase</button>
                   
                
            
        </div>
    </div>
    
